OBJECT ORIENTED PROGRAMMING ASSIGNMENT 2

AKONGO IRENE COMFORT

ACCESS NUMBER 34971  S25M19/001

Q1 Electricity Billing Optimization

1.1. Use zip() and map() to pair customer names with total bills computed by a lambda:
Domestic rate = 820 UGX/unit
Commercial rate = 1000 UGX/unit

In [41]:
# Customer electricity consumption data
customer_names = ['Bosco', 'Jane', 'David', 'Grace', 'Michael', 
                 'Alice', 'Robert', 'Mary', 'John', 'Susan']

units_used = [245, 400, 180, 410, 290, 150, 380, 220, 330, 270]

connection_types = ['Domestic', 'Commercial', 'Domestic', 'Commercial', 
                   'Domestic', 'Domestic', 'Commercial', 'Domestic', 
                   'Commercial', 'Domestic']

# Electricity rates
DOMESTIC_RATE = 820  # UGX per unit
COMMERCIAL_RATE = 1000  # UGX per unit

# Calculate electricity bills using zip() and map()
def calculate_electricity_bills():
    # Combine customer data using zip()
    customer_data = zip(customer_names, units_used, connection_types)
    
    # Calculate bills using map() and lambda function
    calculate_bill = lambda customer: (
        customer[0],  # customer name
        customer[1] * DOMESTIC_RATE if customer[2] == 'Domestic' else customer[1] * COMMERCIAL_RATE
    )
    
    billing_results = map(calculate_bill, customer_data)
    return list(billing_results)

# Generate and display the billing report
billing_list = calculate_electricity_bills()

print("ELECTRICTY BILING REPORT")
print("=" * 50)
print(f"{'Customer':<10} {'Type':<10} {'Units':<8} {'Total Bill':<15}")
print("-" * 50)

for customer_name, total_bill in billing_list:
    index = customer_names.index(customer_name)
    connection_type = connection_types[index]
    units = units_used[index]
    
    print(f"{customer_name:<10} {connection_type:<10} {units:<8} {total_bill:>10,} UGX")

print("-" * 50)
print(f"Total customers: {len(customer_names)}")

ELECTRICTY BILING REPORT
==================================================
Customer   Type       Units    Total Bill
--------------------------------------------------
Bosco      Domestic   245         200,900 UGX
Jane       Commercial 400         400,000 UGX
David      Domestic   180         147,600 UGX
Grace      Commercial 410         410,000 UGX
Michael    Domestic   290         237,800 UGX
Alice      Domestic   150         123,000 UGX
Robert     Commercial 380         380,000 UGX
Mary       Domestic   220         180,400 UGX
John       Commercial 330         330,000 UGX
Susan      Domestic   270         221,400 UGX
--------------------------------------------------
Total customers: 10

1.2. Use filters() to separate high-consumption customers (units>500).

In [42]:
# Customer electricity consumption data
customer_names = ['Bosco', 'Jane', 'David', 'Grace', 'Michael', 
                 'Alice', 'Robert', 'Mary', 'John', 'Susan']
units_used = [245, 400, 180, 410, 290, 150, 380, 220, 330, 270]
connection_types = ['Domestic', 'Commercial', 'Domestic', 'Commercial', 
                   'Domestic', 'Domestic', 'Commercial', 'Domestic', 
                   'Commercial', 'Domestic']

# Combine customer data
customer_data = list(zip(customer_names, units_used, connection_types))

# Find high-consumption customers using filter()
high_consumption_customers = list(filter(lambda customer: customer[1] > 500, customer_data))

print("\nHIGH-CONSUMPTION CUSTOMERS ANALYSIS")
print("Consumption threshold: > 500 units")
print("=" * 55)

if high_consumption_customers:
    print("No.  Customer    Units Used  Connection    Status")
    print("-" * 55)
    for i, (name, units, conn_type) in enumerate(high_consumption_customers, 1):
        print(f"{i:2}   {name:10}   {units:10}   {conn_type:12}   HIGH")
    print(f"\nTotal high-consumption customers: {len(high_consumption_customers)}")
else:
    print("No customers found with consumption above 500 units.")

# Display all customers for complete reference
print("\nCOMPLETE CUSTOMER CONSUMPTION REPORT")
print("=" * 65)
print("No.  Customer    Units Used  Connection    Consumption Level")
print("-" * 65)

for i, (name, units, conn_type) in enumerate(customer_data, 1):
    status = "HIGH" if units > 500 else "Normal"
    print(f"{i:2}   {name:10}   {units:10}   {conn_type:12}   {status:15}")

print("-" * 65)
print(f"Total customers analyzed: {len(customer_data)}")

HIGH-CONSUMPTION CUSTOMERS ANALYSIS
Consumption threshold: > 500 units
=======================================================
No customers found with consumption above 500 units.

COMPLETE CUSTOMER CONSUMPTION REPORT
=================================================================
No.  Customer    Units Used  Connection    Consumption Level
-----------------------------------------------------------------
 1   Bosco               245   Domestic       Normal
 2   Jane                400   Commercial     Normal
 3   David               180   Domestic       Normal
 4   Grace               410   Commercial     Normal
 5   Michael             290   Domestic       Normal
 6   Alice               150   Domestic       Normal
 7   Robert              380   Commercial     Normal
 8   Mary                220   Domestic       Normal
 9   John                330   Commercial     Normal
10   Susan               270   Domestic       Normal
-----------------------------------------------------------------
Total customers analyzed: 10

1.3. Using *args, write a function average_bills(*bill) that computes the averages

In [43]:
# Function to calculate average electricity bills using *args
def average_bills(*bills):
    """Calculate the average of electricity bills"""
    if not bills:
        return 0
    return sum(bills) / len(bills)

# Customer electricity bills data
customer_bills = [200900, 400000, 147600, 410000, 237800, 
                  123000, 380000, 180400, 330000, 221400]

# Calculate average bill using *args
average_amount = average_bills(*customer_bills)

print("\nELECTRICITY BILLS SUMMARY")
print("=" * 45)
print(f"Number of bills:        {len(customer_bills):>10}")
print(f"Total amount:           UGX {sum(customer_bills):>10,}")
print(f"Average bill:           UGX {average_amount:>10.2f}")
print("-" * 45)

ELECTRICITY BILLS SUMMARY
=============================================
Number of bills:                10
Total amount:           UGX  2,631,100
Average bill:           UGX  263110.00
---------------------------------------------

1.4. Display results using list comprehension in the format: ['Bosco: UGX 200,900', 'Jane: UGX 400,000']

In [44]:
# Customer data
customer_names = ['Bosco', 'Jane', 'David', 'Grace', 'Michael', 
                 'Alice', 'Robert', 'Mary', 'John', 'Susan']
units_used = [245, 400, 180, 410, 290, 150, 380, 220, 330, 270]
connection_types = ['Domestic', 'Commercial', 'Domestic', 'Commercial', 
                   'Domestic', 'Domestic', 'Commercial', 'Domestic', 
                   'Commercial', 'Domestic']

# Calculate bills using list comprehension
DOMESTIC_RATE = 820
COMMERCIAL_RATE = 1000

# Calculate bills and format output using list comprehension
customer_bills = [
    f"{name}: UGX {units * DOMESTIC_RATE if conn_type == 'Domestic' else units * COMMERCIAL_RATE:,}"
    for name, units, conn_type in zip(customer_names, units_used, connection_types)
]

print("CUSTOMER ELECTRICITY BILLS")
print("-" * 40)
print(customer_bills)

CUSTOMER ELECTRICITY BILLS
----------------------------------------
['Bosco: UGX 200,900', 'Jane: UGX 400,000', 'David: UGX 147,600', 'Grace: UGX 410,000', 'Michael: UGX 237,800', 'Alice: UGX 123,000', 'Robert: UGX 380,000', 'Mary: UGX 180,400', 'John: UGX 330,000', 'Susan: UGX 221,400']

Question 2: Market Basket Price Aggregator

2.1 Use zip_longest() to handle missing prices.

In [45]:
from itertools import zip_longest

mango_prices = [2500, 2700, 2600, 2800]
orange_prices = [3000, 3200, 3100, 3050]
apple_prices = [4500, 4600, 4550, 4700]

# Use zip_longest to handle different list lengths
all_prices = zip_longest(mango_prices, orange_prices, apple_prices, fillvalue="No price")

print("DAILY FRUIT PRICES FROM DIFFERENT VENDORS")
print("-" * 50)
print("Day  Mango   Orange  Apple")
print("-" * 30)

for day, (mango, orange, apple) in enumerate(all_prices, 1):
    print(f"{day:2}   {mango:>6}  {orange:>6}  {apple:>6}")

DAILY FRUIT PRICES FROM DIFFERENT VENDORS
--------------------------------------------------
Day  Mango   Orange  Apple
------------------------------
 1     2500    3000    4500
 2     2700    3200    4600
 3     2600    3100    4550
 4     2800    3050    4700

2.2 Define a lambda function avg = lambda lst: sum(lst)/len(lst) to compute average per fruit

In [46]:
# Daily fruit prices from different vendors
mango_prices = [2500, 2700, 2600, 2800]
orange_prices = [3000, 3200, 3100, 3050]
apple_prices = [4500, 4600, 4550, 4700]

# Lambda function to calculate average price
avg = lambda prices: sum(prices) / len(prices)

# Calculate average prices for each fruit
mango_avg = avg(mango_prices)
orange_avg = avg(orange_prices)
apple_avg = avg(apple_prices)

print("AVERAGE FRUIT PRICES")
print("=" * 25)
print(f"Mango:  {mango_avg:,.0f} UGX")
print(f"Orange: {orange_avg:,.0f} UGX")
print(f"Apple:  {apple_avg:,.0f} UGX")

AVERAGE FRUIT PRICES
=========================
Mango:  2,650 UGX
Orange: 3,088 UGX
Apple:  4,588 UGX

2.3 Create a generator expression that yeilds all fruits with average price bove 3000.

In [47]:
# Lambda function for average calculation
avg = lambda prices: sum(prices) / len(prices)

# Generator expression for fruits with average price above 3000
high_price_fruits = (
    (fruit, avg(prices)) 
    for fruit, prices in [('Mango', mango_prices), 
                         ('Orange', orange_prices), 
                         ('Apple', apple_prices)] 
    if avg(prices) > 3000
)

print("FRUITS WITH AVERAGE PRICE ABOVE 3,000 UGX")
print("=" * 40)

for fruit, average_price in high_price_fruits:
    print(f"{fruit}: {average_price:,.0f} UGX")

FRUITS WITH AVERAGE PRICE ABOVE 3,000 UGX
========================================
Orange: 3,088 UGX
Apple: 4,588 UGX

2.4 print the generator's results neatly as: fruits above average price: Mango, Orange, Apple

In [48]:
# Lambda function for average calculation
avg = lambda prices: sum(prices) / len(prices)

# Generator expression for fruits with average price above 3000
high_price_fruits = (
    fruit
    for fruit, prices in [('Mango', mango_prices), 
                         ('Orange', orange_prices), 
                         ('Apple', apple_prices)] 
    if avg(prices) > 3000
)

print("Fruits above average price:", ", ".join(high_price_fruits))

Fruits above average price: Orange, Apple

Question 3: District Temperature Tracker

3.1 use map() with lambda to convert all temperatures to Fahrenheit

In [49]:
# Temperature data in Celsius
kampala = [28, 30, 29, 27, 26, 29, 30, 31, 32, 30, 29, 28]
gulu = [25, 26, 27, 27, 28, 29, 30, 30, 29, 27, 26, 25]
mbarara = [22, 23, 23, 24, 25, 25, 26, 27, 27, 26, 24, 23]

# Lambda function to convert Celsius to Fahrenheit
celsius_to_fahrenheit = lambda c: (c * 9/5) + 32

# Convert all temperatures using map()
kampala_f = list(map(celsius_to_fahrenheit, kampala))
gulu_f = list(map(celsius_to_fahrenheit, gulu))
mbarara_f = list(map(celsius_to_fahrenheit, mbarara))

print("DISTRICT TEMPERATURES CONVERTED TO FAHRENHEIT")
print("=" * 46)
print("Kampala (°F):  ", [f"{temp:.1f}" for temp in kampala_f])
print("Gulu (°F):     ", [f"{temp:.1f}" for temp in gulu_f])
print("Mbarara (°F):  ", [f"{temp:.1f}" for temp in mbarara_f])

DISTRICT TEMPERATURES CONVERTED TO FAHRENHEIT
==============================================
Kampala (°F):   ['82.4', '86.0', '84.2', '80.6', '78.8', '84.2', '86.0', '87.8', '89.6', '86.0', '84.2', '82.4']
Gulu (°F):      ['77.0', '78.8', '80.6', '80.6', '82.4', '84.2', '86.0', '86.0', '84.2', '80.6', '78.8', '77.0']
Mbarara (°F):   ['71.6', '73.4', '73.4', '75.2', '77.0', '77.0', '78.8', '80.6', '80.6', '78.8', '75.2', '73.4']

3.2 use zip() to pair month (Jan-Dec) with Kampala temps.

In [50]:
# Temperature data
kampala = [28, 30, 29, 27, 26, 29, 30, 31, 32, 30, 29, 28]
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
          'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

# Use zip() to pair months with Kampala temperatures
monthly_temps = list(zip(months, kampala))

print("KAMPALA MONTHLY TEMPERATURES")
print("-" * 30)
for month, temp in monthly_temps:
    print(f"{month}: {temp}°C")

KAMPALA MONTHLY TEMPERATURES
------------------------------
Jan: 28°C
Feb: 30°C
Mar: 29°C
Apr: 27°C
May: 26°C
Jun: 29°C
Jul: 30°C
Aug: 31°C
Sep: 32°C
Oct: 30°C
Nov: 29°C
Dec: 28°C

3.3 Use filter() to identify months with temperature > 30°C

In [51]:
# Temperature data
kampala = [28, 30, 29, 27, 26, 29, 30, 31, 32, 30, 29, 28]
gulu = [25, 26, 27, 27, 28, 29, 30, 30, 29, 27, 26, 25]
mbarara = [22, 23, 23, 24, 25, 25, 26, 27, 27, 26, 24, 23]
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
          'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

# Pair months with temperatures for all districts
kampala_temps = list(zip(months, kampala))
gulu_temps = list(zip(months, gulu))
mbarara_temps = list(zip(months, mbarara))

# Use filter() to find months with temperature > 30°C for each district
kampala_hot = list(filter(lambda mt: mt[1] > 30, kampala_temps))
gulu_hot = list(filter(lambda mt: mt[1] > 30, gulu_temps))
mbarara_hot = list(filter(lambda mt: mt[1] > 30, mbarara_temps))

print("MONTHS WITH TEMPERATURE ABOVE 30°C")
print("-" * 35)

print("\nKAMPALA:")
if kampala_hot:
    for month, temp in kampala_hot:
        print(f"  {month}: {temp}°C")
else:
    print("  No months above 30°C")

print("\nGULU:")
if gulu_hot:
    for month, temp in gulu_hot:
        print(f"  {month}: {temp}°C")
else:
    print("  No months above 30°C")

print("\nMBARARA:")
if mbarara_hot:
    for month, temp in mbarara_hot:
        print(f"  {month}: {temp}°C")
else:
    print("  No months above 30°C")

MONTHS WITH TEMPERATURE ABOVE 30°C
-----------------------------------

KAMPALA:
  Aug: 31°C
  Sep: 32°C

GULU:
  No months above 30°C

MBARARA:
  No months above 30°C

3.4 create a generator to yield months names and temperature above threhold.

In [52]:
# Temperature data
kampala = [28, 30, 29, 27, 26, 29, 30, 31, 32, 30, 29, 28]
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
          'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

# Generator expression for months with temperatures above 30°C
hot_months = ((month, temp) for month, temp in zip(months, kampala) if temp > 30)

print("MONTHS WITH TEMPERATURE ABOVE 30°C")
print("-" * 35)

for month, temp in hot_months:
    print(f"{month}: {temp}°C")

MONTHS WITH TEMPERATURE ABOVE 30°C
-----------------------------------
Aug: 31°C
Sep: 32°C

3.5 Print as: Hot months in Kampala: July - 31°C, August - 32°C

In [53]:
# Temperature data
kampala = [28, 30, 29, 27, 26, 29, 30, 31, 32, 30, 29, 28]
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
          'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

# Generator expression for months with temperatures above 30°C
hot_months = ((month, temp) for month, temp in zip(months, kampala) if temp > 30)

# Create formatted string
hot_months_list = [f"{month} - {temp}°C" for month, temp in hot_months]
result = ", ".join(hot_months_list)

print(f"Hot months in Kampala: {result}")

Hot months in Kampala: Aug - 31°C, Sep - 32°C

Question 4: School Fees Payment Analyzer

4.1. Write a lambda function that sums valid payments and ignores zeros.

In [54]:
# Installment data
students = ['Alex', 'Grace', 'Sarah', 'Brian']
installments = [
    [150000, 200000, 250000],
    [500000, 0, 200000],
    [300000, 300000, 300000],
    [400000, 100000, 0]
]

# Lambda function to sum valid payments and ignore zeros
sum_valid_payments = lambda payments: sum(payment for payment in payments if payment > 0)

for student, payments in zip(students, installments):
    total_paid = sum_valid_payments(payments)
    print(f"{student}: {total_paid:,} UGX")

Alex: 600,000 UGX
Grace: 700,000 UGX
Sarah: 900,000 UGX
Brian: 500,000 UGX

4.2. Use map() to compute total paid by each student.

In [55]:
# Use map() to compute total paid by each student
total_payments = list(map(lambda payments: sum(payments), installments))

for student, total in zip(students, total_payments):
    print(f"{student}: {total:,} UGX")

Alex: 600,000 UGX
Grace: 700,000 UGX
Sarah: 900,000 UGX
Brian: 500,000 UGX

4.3. Combine student names and totals using zip()

In [56]:
# Use map() to compute total paid by each student
total_payments = list(map(lambda payments: sum(payments), installments))

# Combine student names and totals using zip()
student_totals = list(zip(students, total_payments))

print("STUDENT PAYMENT TOTALS")
print("-" * 22)

for student, total in student_totals:
    print(f"{student}: {total:,} UGX")

STUDENT PAYMENT TOTALS
----------------------
Alex: 600,000 UGX
Grace: 700,000 UGX
Sarah: 900,000 UGX
Brian: 500,000 UGX

4.4. use filter() to find students who have cleared full fees (≥600,000).

In [57]:
# Use filter() to find students who have cleared full fees (>=600,000)
cleared_fees = list(filter(lambda student_total: student_total[1] >= 600000, student_totals))

print("STUDENTS WHO CLEARED FULL FEES (≥600,000 UGX)")
print("-" * 45)

for student, total in cleared_fees:
    print(f"{student}: {total:,} UGX")

STUDENTS WHO CLEARED FULL FEES (≥600,000 UGX)
---------------------------------------------
Alex: 600,000 UGX
Grace: 700,000 UGX
Sarah: 900,000 UGX

4.5. Create payment_summary(**kwargs) that receives named args like Alex = 600000 and prints summaries.

In [63]:
# Function that receives named arguments and prints summaries
def payment_summary(**kwargs):
    print("PAYMENT SUMMARY")
    print("-" * 36)
    
    for student, amount in kwargs.items():
        status = "fully paid" if amount >= 600000 else "partial payment"
        print(f"{student}: {amount:,} UGX - {status}")

# Example usage with student payments
payment_summary(
    Alex=600000,
    Grace=700000, 
    Sarah=900000,
    Brian=500000
)

PAYMENT SUMMARY
------------------------------------
Alex: 600,000 UGX - fully paid
Grace: 700,000 UGX - fully paid
Sarah: 900,000 UGX - fully paid
Brian: 500,000 UGX - partial payment

Question 5: Agriculture yield Estimator

5.1. use a list comprehension with a lambda to convert yields from kg to tons.

In [2]:
# Yield data
districts = ['Bushenyi', 'Mityana', 'Kasese', 'Mbale']
yield_data = [1200, 1500, 900, 1300]

# List comprehension with lambda to convert kg to tons
yield_tons = [(lambda kg: kg / 1000)(kg) for kg in yield_data]

print("AGRICULTURAL YIELD IN TONS")
print("=" * 30)

for district, tons in zip(districts, yield_tons):
    print(f"{district}: {tons:.1f} tons")

AGRICULTURAL YIELD IN TONS
==============================
Bushenyi: 1.2 tons
Mityana: 1.5 tons
Kasese: 0.9 tons
Mbale: 1.3 tons

5.2. write a generator that yield only districts with yield > 1 ton.

In [3]:
# Yield data
districts = ['Bushenyi', 'Mityana', 'Kasese', 'Mbale']
yield_data = [1200, 1500, 900, 1300]

# Generator that yields only districts with yields > 1 ton
high_yield_districts = (district for district, yield_kg in zip(districts, yield_data) if yield_kg > 1000)

print("DISTRICTS WITH YIELD ABOVE 1 TON")
print("=" * 35)

for district in high_yield_districts:
    print(district)

DISTRICTS WITH YIELD ABOVE 1 TON
===================================
Bushenyi
Mityana
Mbale

5.3. Use *args to compute average yeild across all districts

In [4]:
# Function using *args to compute average yield
def average_yield(*yields):
    if not yields:
        return 0
    return sum(yields) / len(yields)

# Calculate average yield across all districts
avg_yield = average_yield(*yield_data)

print("AVERAGE AGRICULTURAL YIELD")
print("=" * 30)
print(f"Average yield: {avg_yield:,.0f} kg")
print(f"Average yield: {avg_yield/1000:.1f} tons")

AVERAGE AGRICULTURAL YIELD
==============================
Average yield: 1,225 kg
Average yield: 1.2 tons

5.4 use **kwargs to silulate price changes per district and compute revenue (tons * price).

In [10]:
# Function using **kwargs to compute revenue with price changes
def compute_revenue(**prices):
    print("DISTRICT REVENUE CALCULATION")
    print("=" * 55)
    
    for district, price_per_ton in prices.items():
        # Get the yield for this district
        district_index = districts.index(district)
        yield_kg = yield_data[district_index]
        yield_tons = yield_kg / 1000
        
        # Calculate revenue
        revenue = yield_tons * price_per_ton
        
        print(f"{district}: {yield_tons:.1f} tons × {price_per_ton:,} UGX/ton = {revenue:,.0f} UGX")

# Example usage with different prices per district
compute_revenue(
    Bushenyi=2400000,
    Mityana=2800000,
    Kasese=2200000,
    Mbale=2500000
)

DISTRICT REVENUE CALCULATION
=======================================================
Bushenyi: 1.2 tons × 2,400,000 UGX/ton = 2,880,000 UGX
Mityana: 1.5 tons × 2,800,000 UGX/ton = 4,200,000 UGX
Kasese: 0.9 tons × 2,200,000 UGX/ton = 1,980,000 UGX
Mbale: 1.3 tons × 2,500,000 UGX/ton = 3,250,000 UGX

5.5. Print formatted output like: Kases produced 0.9 tons - Revenue: UGX 4,500,000.

In [12]:
# Yield data
districts = ['Bushenyi', 'Mityana', 'Kasese', 'Mbale']
yield_data = [1200, 1500, 900, 1300]
prices = [2400000, 2800000, 2200000, 2500000]

print("DISTRICT PRODUCTION AND REVENUE")
print("=" * 52)

for district, yield_kg, price in zip(districts, yield_data, prices):
    yield_tons = yield_kg / 1000
    revenue = yield_tons * price
    print(f"{district} produced {yield_tons:.1f} tons - Revenue: UGX {revenue:,.0f}.")

DISTRICT PRODUCTION AND REVENUE
====================================================
Bushenyi produced 1.2 tons - Revenue: UGX 2,880,000.
Mityana produced 1.5 tons - Revenue: UGX 4,200,000.
Kasese produced 0.9 tons - Revenue: UGX 1,980,000.
Mbale produced 1.3 tons - Revenue: UGX 3,250,000.

Question 6: Web Data Aggregation

6.1 Write a function that takes *urls and uses requests.get() to return response codes

In [13]:
pip install requests

Collecting requests
  Downloading requests-2.32.5-py3-none-any.whl.metadata (4.9 kB)
Collecting charset_normalizer<4,>=2 (from requests)
  Downloading charset_normalizer-3.4.4-cp313-cp313-win_amd64.whl.metadata (38 kB)
Collecting idna<4,>=2.5 (from requests)
  Downloading idna-3.11-py3-none-any.whl.metadata (8.4 kB)
Collecting urllib3<3,>=1.21.1 (from requests)
  Downloading urllib3-2.5.0-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests)
  Downloading certifi-2025.10.5-py3-none-any.whl.metadata (2.5 kB)
Downloading requests-2.32.5-py3-none-any.whl (64 kB)
Downloading charset_normalizer-3.4.4-cp313-cp313-win_amd64.whl (107 kB)
Downloading idna-3.11-py3-none-any.whl (71 kB)
Downloading urllib3-2.5.0-py3-none-any.whl (129 kB)
Downloading certifi-2025.10.5-py3-none-any.whl (163 kB)
Installing collected packages: urllib3, idna, charset_normalizer, certifi, requests

   -------- ------------------------------- 1/5 [idna]
   -------------------------------- ------- 4/5 [requests]
   ---------------------------------------- 5/5 [requests]

Successfully installed certifi-2025.10.5 charset_normalizer-3.4.4 idna-3.11 requests-2.32.5 urllib3-2.5.0
Note: you may need to restart the kernel to use updated packages.

In [14]:
import requests

def check_url_status(*urls):
    """Check response codes for multiple URLs"""
    print("WEBSITE STATUS CHECK")
    print("=" * 40)
    
    for url in urls:
        try:
            response = requests.get(url)
            print(f"{url} - Status: {response.status_code}")
        except requests.exceptions.RequestException:
            print(f"{url} - Status: Failed to connect")

# Check the websites
check_url_status(
    'https://ucu.ac.ug',
    'https://harba.ug', 
    'https://www.bou.or.ug'
)

WEBSITE STATUS CHECK
========================================
https://ucu.ac.ug - Status: 200
https://harba.ug - Status: 200
https://www.bou.or.ug - Status: 200

6.2 Use a list comprehension to print only URLs with status code 200

In [15]:
import requests

def get_working_urls(*urls):
    """Get only URLs that return status code 200"""
    working_urls = [
        url for url in urls 
        if requests.get(url).status_code == 200
    ]
    return working_urls

# Check which websites are working
sites = ['https://ucu.ac.ug', 'https://harba.ug', 'https://www.bou.or.ug']
working_sites = get_working_urls(*sites)

print("WORKING WEBSITES (Status 200)")
print("=" * 35)

for url in working_sites:
    print(url)

WORKING WEBSITES (Status 200)
===================================
https://ucu.ac.ug
https://harba.ug
https://www.bou.or.ug

6.3 Store results in a dictionay using a dictionary comprehension.

In [16]:
import requests

# Dictionary comprehension to store URL and status code
site_status = {
    url: requests.get(url).status_code 
    for url in sites
}

print("WEBSITE STATUS CODES")
print("=" * 35)

for url, status in site_status.items():
    print(f"{url}: {status}")

WEBSITE STATUS CODES
===================================
https://ucu.ac.ug: 200
https://harba.ug: 200
https://www.bou.or.ug: 200

6.4 create a generator expression that yields 'Active Site: <url>' for reachable domains

In [17]:
import requests

# Generator expression that yields active sites
active_sites = (
    f"Active Site: {url}" 
    for url in sites 
    if requests.get(url).status_code == 200
)

print("ACTIVE WEBSITES")
print("=" * 30)

for site in active_sites:
    print(site)

ACTIVE WEBSITES
==============================
Active Site: https://ucu.ac.ug
Active Site: https://harba.ug
Active Site: https://www.bou.or.ug